.header-container {
  background-color: #272727;
  padding: 16px;
  padding-left: 48px;
  padding-right: 48px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-logo-container {
  width: 10%;
}

.header-logo {
  width: 100%;
}

.link-container {
  display: flex;

  padding: 0px;
}

.link-element {
  text-decoration: none;
  color: #f8fafc;
  margin-left: 12px;
  margin-right: 12px;
}

.link-icon-element {
  text-decoration: none;
  color: #f8fafc;
  margin-left: 12px;
  margin-right: 12px;
}

.logout-button {
  width: 80px;
  height: 32px;
  margin-left: 10px;
  border: none;
  background-color: #4f46e5;
  color: #f8fafc;
  border-radius: 8px;
  cursor: pointer;
}

.icon-li {
  list-style-type: none;
}

.icon-and-logout-btn-container {
  display: flex;
  align-items: center;
}

.header-li {
  list-style-type: none;
}

@media screen and (max-width: 767px) {
  .link-container {
    display: none;
  }

  .header-logo-container {
    width: 20%;
  }
}

@media screen and (min-width: 768px) {
  .link-icon-element {
    display: none;
  }
}
